#title{
    padding-bottom: 2cm;
    padding-left: 4cm;
    color: white;
    font-size: normal;
     }
    body{
        background-color: white;
    }
    a{
        color: white;
        font-size: normal;
        font-style: normal;
        padding: 2cm;
    }
    #blue{
        background-color: #0098eb;
        height: 2cm;
    }
    #white{
        background-color: white;
        color: black;
        padding-top: 4cm;
        font-size: 24;
    }
    #start{
        border-radius: 90px;
        height: 1.5cm;
        width: 7cm;
        background-color: #0098eb;
        color: white;
        padding: 10px;
        cursor: pointer;
    }