<html>
    <head>
        <title>Phishing Website Detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">

    </head>
    <body >
        <div id="blue">
    <h1 id="title">NILA<span style="float:right"><a href="\">Home</a> <a href="About">About</a> <a>Contact</a><a href="\predict">Get Started</a></span></h1> 
    <br>
    <img src="{{ url_for('static', filename = 'phishing image.jpg') }}" style="float: right" width="700" height="500">
    </img>
    <h1 id="sub-t">Solution to Detect <br>Phishing Websites</h1>    
    <p>Be aware of what's happening with you <br>confidential data</p>

    <span> <button style="font-size:20px" id="start"><a href="\predict">Get Started</a></button>  <label for="video">Watch Video</label><button style="font-size:20px" id="Video"></button></span></div>
    <div id="white">
         <h1>About</h1>
    </div>
    <div>
        <div style="display: flex; justify-content: space-between;">
            <p style="background-color: white;">Web service is one of the key communications software services for the Internet. Web phishing is one of many security threats to web services on the Internet. Web phishing aims to steal private information, such as usernames,passwords,and credit card details,by way of impersonating a legitimate entity.</p>
            <p style="background-color: white;">The recipient is then tricked into clicking a malicious link, which can lead to the installation of malware,the freezing of the system as part of a ransomware attack or the revealing of sensitive information.It will lead to information disclosure and property damage.</p>
          </div>
    </div>
    <div id="dark">
        <div id="div1">
        <p id="s1"><b>Check your Website</b><br>Understanding if the website is valid one or not is important and plays a vital role in the security of data.<br>To know if the URL is a valid one or you are information is at risk check your website.</p>
        </div>
        <div id="div2">
            <a id="stop" href="\predict">Check your website</a>

        </div>

    </div>

    
    </div>
    </body>
</html>